
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>

<body>
    <div class="about-section">


        <div class="inner-container">

            <h1>About Us</h1>
            <hr/>
            <p class="text">Our company is established online since 2015. We offer to anyone the opportunity to sell or buy their dream vehicule.</p>

            <div class="skills">
                <a asp-action="Index" asp-controller="Cars"><span class="active">Cars For Sale</span></a>
                <a asp-action="Index" asp-controller="Bikes"><span class="active">Bikes For Sale</span></a>
                <a asp-action="Index" asp-controller="Vans"><span class="active">Vans For Sale</span></a>
            </div>
        </div>
    </div>
</body>
</html>